/* ===================================
Project Name 	:  Dust 
File 			:  CSS Base
Version 		:  1.0;
Author 			:  Marvel Theme
Developer:		:  

=====================================*/

/* ==================================
CSS table Of content

    01. Base style
    02. Typography style

=====================================*/

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/breakpoints";

/* ----------------
    01. Base style
-------------------*/
@import "base/base";

/* ---------------
    02. Typography style
------------------*/
@import "base/typography";

/* ---------------
    02. Buttons style
------------------*/
@import "components/buttons";

/* ---------------
    03. Header style
------------------*/
@import "layout/header";

/* ---------------
    04. Slider style
------------------*/
@import "layout/slider";

/* ---------------
    05. About section style
------------------*/
@import "layout/about";

/* ---------------
    06. About section style
------------------*/
@import "layout/service";

/* ---------------
    07. Achievement section style
------------------*/
@import "layout/counter";

/* ---------------
    08. Achievement section style
------------------*/
@import "layout/testimonials";

/* ---------------
    09 Achievement section style
------------------*/
@import "layout/achievement";

/* ---------------
    10. Achievement section style
------------------*/
@import "layout/branding";

/* ---------------
    11. Achievement section style
------------------*/
@import "layout/call-to-action";

/* ---------------
    12. Portfolio section style
------------------*/
@import "layout/portfolio";

/* ---------------
    13. Blog section style
------------------*/
@import "layout/blog-post";

/* ---------------
    14. Experience-Educations section style
------------------*/
@import "layout/experience-educations";

/* ---------------
    15. Expert section style
------------------*/
@import "layout/expert";

/* ---------------
    16. Breadcrumb section style
------------------*/
@import "layout/breadcrumb";

/* ---------------
    17. Blog details section style
------------------*/
@import "layout/blog-details";

/* ---------------
    18. Portfolio details section style
------------------*/
@import "layout/portfolio-details";

/* ---------------
    19. Contact section style
------------------*/
@import "layout/contact";

/* ---------------
    0.Footer section style
------------------*/
@import "layout/footer";

