// experience style
.sub-area-headding {
    margin-bottom: 60px;

}

.single-experience-slide,
.single-education-slide {
    &.scroll-slider {
        background: var(--solidWhite);
        margin-bottom: 30px;
    }
}

.sexperience-wrapper {
    height: 633px;
}

.working-experience-wrapper {
    padding-right: 34px;
}

.education-content-area {
    height: 633px;
}

// Media breakpoint
@include media-breakpoint-only(md) {
    .working-experience-wrapper {
        padding-right: 0;
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 25px;
    }
}

@include media-breakpoint-down(sm) {
    .working-experience-wrapper {
        padding-right: 0;
        margin-bottom: 60px;
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 25px;
    }
}